.map {
  width: 100vw;
  height: 100vh;
}

.map-legend, .map-control {
  position: absolute;
  z-index: 1001;
}

.map-legend {
  top: 0;
  left: 0;
  margin: 2em;
}

.map-legend ul {
  list-style: none;
}

.map-legend li {
  margin: 0.5em;
}

.map-legend span {
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5em;
}

.map-legend .coral {background-color: #f7403a;}
.map-legend .seagrass {background-color: #00ad00;}
.map-legend .sand {background-color: #fcda90;}
.map-legend .other {background-color: #afafaf;}

.map-control {
  top: 0;
  right: 0;
  margin: 2em;
}
